n8n_Customer_Feedback.json
{
  "name": "Customer_Feedback",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your role is to determine whether the feedback given by the customer is Complaint OR Compliment OR New Feature Addition\nChoose only 1 option. Example – Complaint. The output should not contain any word other than \n'Complaint' 'Compliment' 'New Feature Addition'\nThe feedback is {{ $json.Feedback }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -580,
        -355
      ],
      "id": "a24d0012-b59f-408c-912c-8582fd15aa79",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -580,
        -140
      ],
      "id": "5d4bfc94-8ccd-40b6-b7ce-6ff4c22ea16d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "4F2GFt69ndyAQ3gK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -204,
        -480
      ],
      "id": "3bdad6c3-b684-417b-9ad6-f0846c35a445",
      "name": "Merge"
    },
    {
      "parameters": {
        "formTitle": "Feedback Form",
        "formDescription": "Feedback form for customers",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name",
              "placeholder": "<Enter your First Name here...>",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name",
              "placeholder": "<Enter your Last Name here...>"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "<Enter your Correct Email Id here...>",
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback",
              "placeholder": "<Enter the feedback here...>",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -800,
        -480
      ],
      "id": "afc1dc67-0887-4e35-9225-f316cd1e2248",
      "name": "Customer Feedback Form",
      "webhookId": "06a1696a-eab8-4a8d-88b4-be77e9179da8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "70861423-9ddd-47cf-83b1-e8d8c145fcd2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f977aa7-17d2-499f-a526-9bb61deb5312",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Compliment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a714c1e5-a9cc-4297-8dc1-bbbe15897d17",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "New Feature Addition",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        16,
        -480
      ],
      "id": "4e6b97db-ff21-411f-813b-4e250c840184",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuYGSBoAgd9d4Sw",
          "mode": "list",
          "cachedResultName": "n8n_feedback",
          "cachedResultUrl": "https://airtable.com/appuYGSBoAgd9d4Sw"
        },
        "table": {
          "__rl": true,
          "value": "tblCjXRlTnGgoedu3",
          "mode": "list",
          "cachedResultName": "Complaint",
          "cachedResultUrl": "https://airtable.com/appuYGSBoAgd9d4Sw/tblCjXRlTnGgoedu3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json['First Name'] }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Email": "={{ $json.Email }}",
            "Feedback": "={{ $json.Feedback }}",
            "output": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        236,
        -680
      ],
      "id": "8a8bf6b1-4bbc-4604-ba3a-c81373dff178",
      "name": "Complaint",
      "credentials": {
        "airtableTokenApi": {
          "id": "axWQVD2JmFrE8Vsh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuYGSBoAgd9d4Sw",
          "mode": "list",
          "cachedResultName": "n8n_feedback",
          "cachedResultUrl": "https://airtable.com/appuYGSBoAgd9d4Sw"
        },
        "table": {
          "__rl": true,
          "value": "tbleTrfDVLDJ01Inf",
          "mode": "list",
          "cachedResultName": "Compliment",
          "cachedResultUrl": "https://airtable.com/appuYGSBoAgd9d4Sw/tbleTrfDVLDJ01Inf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $('Customer Feedback Form').item.json['First Name'] }}",
            "Feedback": "={{ $('Customer Feedback Form').item.json.Feedback }}",
            "Email": "={{ $('Customer Feedback Form').item.json.Email }}",
            "Last Name": "={{ $('Customer Feedback Form').item.json['Last Name'] }}",
            "output": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        236,
        -480
      ],
      "id": "8bf70818-8f1a-4896-8c80-698df940739d",
      "name": "Compliment",
      "credentials": {
        "airtableTokenApi": {
          "id": "axWQVD2JmFrE8Vsh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuYGSBoAgd9d4Sw",
          "mode": "list",
          "cachedResultName": "n8n_feedback",
          "cachedResultUrl": "https://airtable.com/appuYGSBoAgd9d4Sw"
        },
        "table": {
          "__rl": true,
          "value": "tbl8TQIORlONFkMmE",
          "mode": "list",
          "cachedResultName": "New Feature Addition",
          "cachedResultUrl": "https://airtable.com/appuYGSBoAgd9d4Sw/tbl8TQIORlONFkMmE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json['First Name'] }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Email": "={{ $json.Email }}",
            "Feedback": "={{ $json.Feedback }}",
            "output": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        236,
        -280
      ],
      "id": "54b73f38-811f-4598-915b-7648f6880793",
      "name": "New Feature Addition",
      "credentials": {
        "airtableTokenApi": {
          "id": "axWQVD2JmFrE8Vsh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08PPF03XPA",
          "mode": "list",
          "cachedResultName": "complaint_team"
        },
        "text": "=Hi Team,\n\nUser has given below feedback about our app. Please review and address.\n================================================================\nUser Name = {{ $('Customer Feedback Form').item.json['First Name'] }} {{ $('Customer Feedback Form').item.json['Last Name'] }}\nUser Email = {{ $('Customer Feedback Form').item.json.Email }}\nFeedback = {{ $('Customer Feedback Form').item.json.Feedback }} \n================================================================\n\nThanks and Regards",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        676,
        -680
      ],
      "id": "770876d3-fcc3-46cd-a449-383668b54e35",
      "name": "Complaint Team",
      "webhookId": "4601705d-46c8-4985-af16-328b3588342b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "c07v6n18wbEONZH0",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08NYD796S1",
          "mode": "list",
          "cachedResultName": "compliment_team"
        },
        "text": "=Hi Team,\n\nGood to see, a user has given below postive feedback about our app.\n================================================================\nUser Name = {{ $('Customer Feedback Form').item.json['First Name'] }} {{ $('Customer Feedback Form').item.json['Last Name'] }}\nUser Email = {{ $('Customer Feedback Form').item.json.Email }}\nFeedback = {{ $('Customer Feedback Form').item.json.Feedback }} \n================================================================\n\nKeep it up!\n\nThanks and Regards",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        676,
        -480
      ],
      "id": "da1f7039-f2ee-41df-938a-d2591afbbe5d",
      "name": "Compliment Team",
      "webhookId": "4601705d-46c8-4985-af16-328b3588342b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "c07v6n18wbEONZH0",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08NS87FAKG",
          "mode": "list",
          "cachedResultName": "developer_team"
        },
        "text": "=Hi Team,\n\nUser has given below suggestion for our app improvement. Please review and see what we can do about it.\n================================================================\nUser Name = {{ $('Customer Feedback Form').item.json['First Name'] }} {{ $('Customer Feedback Form').item.json['Last Name'] }}\nUser Email = {{ $('Customer Feedback Form').item.json.Email }}\nFeedback = {{ $('Customer Feedback Form').item.json.Feedback }} \n================================================================\n\nThanks and Regards",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        676,
        -280
      ],
      "id": "9d80a4f4-7ccf-4ca6-915b-590008be8b5c",
      "name": "Developer Team",
      "webhookId": "4601705d-46c8-4985-af16-328b3588342b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "c07v6n18wbEONZH0",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Customer Feedback Form').item.json.Email }}, BharatArora2006@gmail.com ",
        "subject": "Thank you so much for your positive feedback! ",
        "message": "=Dear {{ $('Customer Feedback Form').item.json['First Name'] }}{{ $('Customer Feedback Form').item.json['Last Name'] }}\n\nThank you so much for your positive feedback! It's wonderful to hear you had a great experience. We are looking forward to serve you again.\n\nFeedback : {{ $('Merge').item.json.Feedback }}\n\nThanks & RegardsTeam ABC ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        456,
        -480
      ],
      "id": "941f188a-6cc7-48e7-be25-24b655107631",
      "name": "Thank you Email",
      "webhookId": "9dabdc87-afb4-48f9-89e1-880c0deace62",
      "credentials": {
        "gmailOAuth2": {
          "id": "a9gbR64wFJPQWTeQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Customer Feedback Form').item.json.Email }},BharatArora2006@gmail.com",
        "subject": "Thanks for your feedback. We have received your concern. ",
        "message": "=Dear {{ $('Customer Feedback Form').item.json['First Name'] }} {{ $('Customer Feedback Form').item.json['Last Name'] }} {{\"\\n\"}}\n\nThank you for your feedback. We have received your concern. Sorry for the inconvenience. Our team will get back to you in 24-48 hours. {{\"\\n\"}}\n\nFeedback : {{ $('Customer Feedback Form').item.json.Feedback }}\n\nThanks & Regards {{\"\\n\"}}\n\nTeam ABC",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        460,
        -680
      ],
      "id": "1e7acffe-fde5-42bb-921f-3588035998c2",
      "name": "Inconvenience Email",
      "webhookId": "9dabdc87-afb4-48f9-89e1-880c0deace62",
      "credentials": {
        "gmailOAuth2": {
          "id": "a9gbR64wFJPQWTeQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Customer Feedback Form').item.json.Email }},BharatArora2006@gmail.com",
        "subject": "Thank you for your feedback. We have received your suggestion. ",
        "message": "=Dear {{ $('Customer Feedback Form').item.json['First Name'] }} {{ $('Customer Feedback Form').item.json['Last Name'] }} \n\nThank you for your valuable suggestion! We appreciate you taking the time to share it and assure you our team is looking into it to enhance our customer experience. We will get back to you soon. \n\n{{ $('Customer Feedback Form').item.json.Feedback }}\n\nThanks & Regards\nTeam ABC",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        456,
        -280
      ],
      "id": "e21fd3fd-c8d1-4216-9cb0-df897538f94a",
      "name": "New Feature Request Email",
      "webhookId": "9dabdc87-afb4-48f9-89e1-880c0deace62",
      "credentials": {
        "gmailOAuth2": {
          "id": "a9gbR64wFJPQWTeQ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Feedback Form": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Complaint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compliment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New Feature Addition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complaint": {
      "main": [
        [
          {
            "node": "Inconvenience Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliment": {
      "main": [
        [
          {
            "node": "Thank you Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Feature Addition": {
      "main": [
        [
          {
            "node": "New Feature Request Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thank you Email": {
      "main": [
        [
          {
            "node": "Compliment Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inconvenience Email": {
      "main": [
        [
          {
            "node": "Complaint Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Feature Request Email": {
      "main": [
        [
          {
            "node": "Developer Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1d6dbf5a-c615-468f-a0bf-48d513d14e15",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "682aa6782e32fab30b4d86d7d992b710876de9271aaca0e8848c577700696abb"
  },
  "id": "a9GnSMSLpo9MCalH",
  "tags": []
}